# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.QuizOrganizeSolution.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rober\Documents\Proge\QuizOrganizeSolution\.idea\.idea.QuizOrganizeSolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
